<div class="app-body" style="
background-image: url(../../assets/img/bg/img1.jpg);">
    <main class="main d-flex align-items-center"    >
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <div class="card mx-4">
              <div class="card-body p-4">
                <form role="form" #psforgotForm="ngForm">
                    <div *ngIf="!backToLogin">
                            <h1>Reset Password</h1>
                            <!-- <p class="text-muted">Please enter your email address to search for your account.</p> -->
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                              </div>
                              <input type="text" name='userEmail' #usEmail="ngModel" [(ngModel)]="userEmail" [disabled]='true' class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email" autocomplete="email"  (ngModelChange)="modelChanged($event)" >
                              <br>
                              
                          </div>
                          <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                              </div>
                            <input type="password" name='userPassword' #usPassword="ngModel" [(ngModel)]="userPassword"  class="form-control"  placeholder="Enter New Password" autocomplete="email"  (ngModelChange)="onpsChange($event)" required>
                            <br>
                            <div class="input-group mb-12" style="color: red;font-weight: 700;" *ngIf="retsetSubmitFlag===true">
                              <show-error [control]="usPassword" [label]="{'labelName': 'Password'}" [submitFlag]="usPassword.errors?.required"></show-error>
                              
                              <!-- <show-error [control]="usPassword" [label]="{'labelName': 'User Password'}" [submitFlag]="loginSubmitFlag"></show-error> -->
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-lock"></i></span>
                              </div>
                            <input type="password" name='reuserPassword' #reusPassword="ngModel" [(ngModel)]="reuserPassword"    class="form-control" placeholder="Re-Enter New Password" autocomplete="email"  (ngModelChange)="onRePsCHange($event,userPassword)" required>
                            <br>
                            <div class="input-group mb-12" style="color: red;font-weight: 700;" *ngIf="retsetSubmitFlag===true">
                              <show-error [control]="reusPassword" [label]="{'labelName': 'Re-Enter Password'}" [submitFlag]="reusPassword.errors?.required"></show-error>
                              <div  *ngIf="!passwordMatch && !reusPassword.errors?.required">Password Does Not Match !</div>
                            </div>
                        </div>
                        <div  style="color: red;font-weight: 700;padding-bottom: 7px;"*ngIf="errorMessage">{{errorMessage}}</div>

                          <div class="row">
                            <div class="col-6">
                              <button type="button" (click)="resetClick(psforgotForm)" class="btn btn-success px-4">Reset Password</button>
                            </div>
                            <div class="col-6 text-right">
                              <button type="button" (click)="backClick()" class="btn btn-link px-0 " (click)="backClick()">Login</button>
                            </div>
                          </div>
                            <!-- <div style="margin: 0 auto;width: 144px;margin-top: 10%"> 
                              <button type="button" (click)="resetClick(psforgotForm)" class="btn btn-block btn-success" ><b>Reset Password</b></button>
                              <button type="button" (click)="backClick()" class="btn btn-block btn-success"><b>Login</b></button>
                            </div> -->

                    </div>
                    <div *ngIf="backToLogin">
                            <h1>Reset Password</h1>
                            <p class="text-muted">Your Password has been reset successfully please login again with new password.</p>
                            
                            <button type="button" (click)="backClick()" class="btn btn-block btn-success" style="margin: 0 auto;width: 144px;margin-top: 10%"><b>Back To Login</b></button>
                          
                     </div>   
                  </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  